<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PruebaMaps.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PruebaMapsCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2740D81524F78C3D001273A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2740D82B24F78C40001273A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2740D83624F78C40001273A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2740D85624F79835001273A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2740D85E24F79835001273A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
